<%= link_to "Edit this task", edit_path(@task.id) %>

<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<% if @task.completed? %>
  <h2>This task is completed</h2>
<% else %>
  <h2>This task is not completed yet</h2>
<% end %>
<!-- <label>
<input type="checkbox">Task done?
</label> -->
<p><%= link_to "Back to list", task_path %></p>
